{{#article}}
    <article>
        <h1>{{name}}</h1>
        <p>Published {{published}}</p>
        <p><img src="/images/{{image}}"></p>
        {{body}}
    </article>

    <article>
        <h1>{{name}}</h1>
        <p>Published {{published}}</p>
        <p>Author: <a href="/author/{{author_id}}">{{author_id}}</p>
        <p><img src="/images/{{image}}"></p>
        {{body}}
    </article>
{{/article}}